{% extends "base.html.twig" %}

 {% block body %}

     <!-- Page Content -->
    <div class="container">

      

    
      <!-- /.row -->
        <h1 class="mt-5 mb-4">
        Faites-vous aider par un spécialiste de l'aménagement professionnel !
      </h1>



      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="image/presentation/plan.jpg" alt="image d'un plan">
        </div>
        <div id="about" class="col-lg-6 ">
          
          <p>Spécialiste de l'aménagement de petits, moyens et grands espaces, Côté BURO possède par ailleurs une longue expérience dans le secteur du mobilier de bureau.<p><p>Grâce à cette polyvalence, Côté BURO vous propose des prestations maitrisées du début à la fin de la chaine de service :</p>
          <ul>
              <li>Analyse des besoins</li>
              <li>Conseils en aménagement</li>
              <li>Choix de la gamme d'ameublement</li>
              <li>Livraison et montage</li>
              <li>Reprise des emballages</li>
              
              
          </ul>
          
          <span>Extension de garantie de 2 ans offerte : équipement garanti 7 ans !</span>
          <div class="ml-auto btnabout">
           <a href="about.php" class="mt-4 btn btn-primary">En savoir +</a>
           </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h2 class="my-4 mb-4 mt-5">Nous aménageons vos espaces de travail</h2>
          <p>A votre écoute pour vous aider à choisir l’agencement adapté à vos besoins au sein d’une gamme de mobilier design et de qualité.
              Nos catalogues proposent un large choix, de mobilier d’accueil, de bureaux, de sièges, de fauteuils, de salle de réunion…</p>
<p>Nous avons l’appui et le soutien des principaux fabricants nationaux, au regard de notre expérience accumulée en prestation d’aménagement.
Nous travaillons au quotidien notre réactivité à modéliser rapidement vos besoins exprimés.
Nous accordons une importance extrême à la finalisation de votre installation qui doit être en tout point conforme à votre cahier des charges.
</p>
          
      
        </div>
   <div class="col-lg-6">
          <img class="img-fluid rounded mt-5 mb-5" src="image/presentation/3-%20M4-vignette-ambiance-fiche-produit.jpg" alt="Exemple d'un aménagement de bureau">
        </div>
      </div>
           <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Etude de faisabilité</h4>
            <div class="card-body">
              <p class="card-text">Etude de faisabilité, analyse des besoins, respect de l’identité
et singularité de l’entreprise.</p>
            </div>
            <div class="card-footer">
              <a href="services.php" class="btn btn-primary">En savoir +</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Etude d’aménagement</h4>
            <div class="card-body">
              <p class="card-text">Etude d’aménagement, implantation,  colorimétrie, signalétique..</p>
            </div>
            <div class="card-footer">
              <a href="services.php#amenagement" class="btn btn-primary">En savoir +</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Réalisation de plan </h4>
            <div class="card-body">
              <p class="card-text">Projet, réalisation de plan 2D/3D.</p>
            </div>
            <div class="card-footer">
              <a href="services.php#plan" class="btn btn-primary">En savoir +</a>
            </div>
          </div>
        </div>
      </div>
           <!-- Portfolio Section -->
            <h2 class="mb-4">Nos réalisations</h2>

      <div class="row mb-5">
        <div class="col-lg-6 col-sm-12 portfolio-item">
          <div class="card h-100">
           <a href="#"><img class="card-img-top" src="image/projet2/projet2vignette.JPG" alt="salle de formation Global Eco Power "></a>
             
            </div>
          </div>
            <div class="col-lg-6 col-sm-12 card-body">
           
              <h4 class="card-title">
                    <a href="globalEcoPower.php">Global Eco Power - Meyreuil</a>
              </h4>
              
     <p class="card-text"> L'entreprise a fait appel à nos services afin d'aménager une nouvelle salle de formation, la particularité était de prévoir un nombre d'assise suffisant ainsi que de proposer du mobilier et des sièges design. 
              </p>
              <p>La forme de la salle de formation nous obligeait de prévoir une disposition des bureaux en U. Les dirigeants ont adhéré à notre proposition d'intégration et ont été pleinement satisfait du resultat.
              </p>
             </div>
             
       <hr>
        
        <div class="col-xl-6 col-lg-6 col-md-12 card-body">
          <a href=""><img class="img-mob portfolio-item card-img-top" src="image/projet3/REUNION_SUMIKA.jpg" alt="Salle de réunion"></a>
         
              <h4 class="card-title">
                  <a href="portfolio-swisslife.php">Sumika Polymer</a></h4>
                <p class="card-text">La société Sumika a fait appel à nos services afin de réaliser et aménager une nouvelle salle de réunion qui devait contenir 22 places. </p>
              <p>Compte tenu des dimensions de la pièce ainsi que de sa disposition, nous avons convenu d’incliner l’orientation de la table de réunion afin de pouvoir réunir facilement le nombre personnes voulus en facilitant l'accès de chaque places. De plus, une réalisation a été faite sur mesure pour des armoires vitrines afin d’exposer leurs propres fabrications. </p>
             
            </div>
                <div class="col-xl-6 col-lg-6 col-md-12" >
            <div class="h-100 mb-1">
         <a href=""><img class="img-web card-img-top" src="image/projet3/REUNION_SUMIKA.jpg" alt="Salle de réunion"></a>
            </div>
            </div>
              </div>
        
    
        
        
        
      <!-- /.row -->

      <!-- Features Section -->

     <!--  /.row -->

      <hr>

      <!-- Call to Action Section -->
<!--      <div class="row mb-4 cta">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>-->

    </div>
  
    <!-- /.container --> 
 
 {% endblock %}
 
